<?xml version="1.0"?>
<launch>
  <arg name="lang_type" default="en"/>
      
  <!--en_us -->
  <group if="$(eval arg('lang_type') == 'en')">
    <node name="iat_cn" pkg="jetbot_pro" type="vad.py" output="screen">
      <param name="Mode" value="asr_en"/>
      <param name="Path" value="$(find jetbot_pro)"/>
    </node>
    
    <!-- Node to subscribe to audio data -->
    <node name="audio_subscriber" pkg="jetbot_pro" type="petson_audio_publisher.py" output="screen"/>
  </group>
</launch>
