<?xml version="1.0"?>
<launch>
  <param name="use_sim_time" value="false" />
  <arg name="cam_name" default="csi_cam_0" />
  <arg name="topic_name" default="petson_decision" />
  <arg name="file_name" default="$(find jetbot_pro)/data/haarcascade_frontalface_alt2.xml" />
  <arg name="map_type" default="hector" /> <!--karto-->

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find jetbot_pro)/rviz/petson_slam.rviz" />

  <node pkg="jetbot_pro" type="petson_decision_final_demo.py" name="petson_decision_node" output="screen">
    <param name="speed" value="0.4" />
    <param name="turn" value="0.4"  />
    <param name="camera_name" value="$(arg cam_name)" />
    <param name="topic_name" value="$(arg topic_name)" />
    <param name="file_name" value="$(arg file_name)" />
  </node>
</launch>
